section.small-padding { padding-top: 20px; padding-bottom: 20px;}
section.mid-padding { padding-top: 40px; padding-bottom: 40px;}
.usps-icon { margin-left: 10px; margin-right: 10px; }
.usps-icon i { font-size: 40px; color: #acc941; }
/* .usps-icon i { font-size: 40px; color: #2c9ed5; } */
/* .usps-icon:after { content: ""; width: 2px; height: 22px; margin-left: 10px; margin-right: 10px; background-color: #2c9ed5; display: inline-block; } */
.usps-info p { margin-bottom: 0; color: #2f2f2f;}
.navbar-nav li a { text-transform: none; }

.card .card-content {
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(40, 40, 40, 0.14);
	-moz-box-shadow: 0 2px 3px rgba(40, 40, 40, 0.14);
	-webkit-box-shadow: 0 2px 3px rgba(40, 40, 40, 0.14);
	padding: 30px;
	margin-top: 30px;
}

.card .card-content p {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 0
}

.heading h3:after {
	content: ".";
	color: #acc941;
	font-size: 25px;
	display: inline-block;
}

.testimonial .testimonial-img { width: auto; }
span.score { display: block; width: 45px; height: 30px; background: #acc941; line-height: 30px; text-align: center; color: #fff; font-weight: bold; font-size: 15px; bottom: 0; right: 0; position: absolute; }

.bg-blue { background-color: rgba(44, 158, 213, 0.9); }

.mmega-menu li ul { margin-bottom: 2em; }
.mmega-menu li ul li a { border-bottom: none !important; height: 30px !important; }

@media only screen and (min-width: 992px) {
	.navbar-nav > li.has-dropdown > ul.mega-menu.mmega-menu ,li.dropdown-submenu > ul.mega-menu.mmega-menu { width: 690px !important; left: auto !important; right: -345px !important;}
}

.brand { margin-bottom: 1em; }
.widgets-links .widget-about .widget-about-logo { padding: 0 0 30px; max-width: 100%; }
.widgets-links .widget-about .widget-about-logo img { width: 100%; }
.widgets-links .widget-about .widget-about-info { padding: 0; }

.rec { background: url('/sr-yellow-hats/images/erkenningen.gif') no-repeat; display: inline-block; width: 160px; height: 44px; opacity: 0.5; transition: all 0.5s ease; -webkit-filter: grayscale(100%); filter: grayscale(100%);}
.rec-rtl7 { background-position: 0 -132px; }
.rec-sbb { background-position: 0 -44px; }
.rec-ecabo { background-position: 0 -88px; }
.rec-comodo { background-position: 0 0; }
.rec:hover { -webkit-filter: grayscale(0); filter: grayscale(0); opacity: 1; }

footer .copyrights a { color: #9b9b9b !important; }
footer .copyrights a:hover { color: #acc941 !important; }