.header-5 .top-bar ul li p { padding: 0 15px 0 15px; border-right: 1px solid rgba(49, 49, 49, 0.1); }
.header-5 .top-bar ul li:first-child p { padding: 0 15px 0 0; border-right: 1px solid rgba(49, 49, 49, 0.1); }
.form-control { margin-bottom: 10px; border: 2px solid #e5e5e5; padding-left: 12px;}
.form-control:focus { border-color: #acc941; }
.form-control-sm { height: 35px; line-height: 35px; }
.form-group label { line-height: 49px; height: 49px; }
.prepend-euro { height: 35px; line-height: 35px; }
.price-hidden { display: none; }
.note p { margin: 0; }
p.noteUser { margin-bottom: 1em; text-align: right; font-weight: bold; }
.primary-color { color: #acc941; }
.secondary-color { color: #337ab7; }
.btn-sm { padding: 5px 10px; font-size: 12px; line-height: 1.8; border-radius: 3px; height: 35px; }